.footer{
  background-color: $off_white;
  
  right: 0;
  bottom: 0;
  left: 0;
  
  text-align: center;

}

.footer-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0;
}