.header {
    background-color: $off-white;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $size_mediana;
}

.header__text {
    text-decoration: none;
}
