
// $off_black: #20222b;
// $off_white: #a5afd7;
$gris-oscuro: #333333;
//$azul-fondo: #333745;
// $azul-medio: #3c4251;
$azul-claro: #1c88bf;
$azul-oscuro: #2c2c50;
//$purpura: #8357c5;
$off-white: #f7f7f7;

// colores
$oscuro-fuerte: #333;
$azul-brillante: #047aed;
$azul-medio: #1c3fa8;
$gris-claro:  #b4becb;
$alerta-success: #5cd85c;
$alerta-error: #d9534f;

// maximo del ancho del contenedor de navbar

$maximo-ancho-navbar: 1100px;

$alerta-success-msg: #1cbf65;
$alerta-error-msg: #bb3c3c;
$alerta-warning-msg: #dd9b44;


// tamaño de 
$fuente-grande: 1.8rem;
$fuente-peque: 1.4rem;
//$off_white: #a5afd7; 
// aqui son los espaciado del texto
$size_peque: 1.2rem;
$size_mediana: 1.6rem;
$size_grande: 3.2rem;
$size_extra: 4.8rem;

$desktop_breakpoint: 40rem;
